
@{
    ViewData["Title"] = "Index";
}

<main id="content">
    <section class="py-2 bg-gray-2">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-site py-0 d-flex justify-content-center">
                    <li class="breadcrumb-item">
                        <a class="text-decoration-none text-body" asp-action="Index" asp-controller="Home">Home</a>
                    </li>
                    <li class="breadcrumb-item active pl-0 d-flex align-items-center" aria-current="page" >Find a Store</li>
                </ol>
            </nav>
        </div>
    </section>
    <section class="pt-9">
        <div class="container container-xl">
            <div class="text-center">
                <h2 class="mb-4">Find a Store</h2>
                <p class="fs-18 lh-155 mx-auto" style="max-width: 590px">
                    We’re talking about clean beauty gift sets, of course – and we’ve got a bouquet of beauties for yourself or
                    someone you love.
                </p>
            </div>
            <div class="row align-items-center mt-10 mb-10 mb-lg-13">
                <div class="col-lg-6 mb-8 mb-lg-0">
                    <div class="hover-shine hover-zoom-in mr-lg-n9">
                        <img src="~/assets/images/store-01.jpg" alt="Sale Up To 40% Off" class="card-img">
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-1">
                    <h2 class="fs-34 lh-129 mb-7">
                        New York Store
                    </h2>
                    <div class="row">
                        <div class="col-md-6 mb-7 mb-lg-9">
                            <h4 class="fs-20 font-weight-600 mb-3">Address</h4>
                            <p class="mb-2 mb-lg-4 mr-lg-8">3245 Abbot Kinney BLVD - PH Venice, CA 124</p>
                            <a href="#" class="btn btn-link bg-transparent text-secondary border-secondary border-bottom border-0 rounded-0 p-0 fs-16 font-weight-600">
                                Get Direction
                            </a>
                        </div>
                        <div class="col-md-6 mb-6 mb-lg-9">
                            <h4 class="fs-20 font-weight-600 mb-3">Store Hours</h4>
                            <ul class="list-unstyled mb-0">
                                <li><span class="d-inline-block w-115">Mon – Fri:</span> 08:30 – 20:00</li>
                                <li><span class="d-inline-block w-115">Sat & Sun:</span> 09:30 – 21:30</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-6 mb-md-0">
                            <h4 class="fs-20 font-weight-600 mb-3">Contact</h4>
                            <ul class="list-unstyled mb-0">
                                <li class="mb-1">Mobile:<span class="text-secondary"> 068 26589 996</span></li>
                                <li class="mb-1">Hotline:<span class="text-secondary"> 09:30 – 21:30</span></li>
                                <li>E-mail:<span> hello@grace.com</span></li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <h4 class="fs-20 font-weight-600 mb-5">Social media</h4>
                            <ul class="list-inline fs-18 mb-0">
                                <li class="list-inline-item mr-4 mr-lg-5">
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                </li>
                                <li class="list-inline-item mr-4 mr-lg-5">
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                </li>
                                <li class="list-inline-item mr-4 mr-lg-5">
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#"><i class="fab fa-youtube"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row align-items-center mb-10 mb-lg-13">
                <div class="col-lg-5 order-2 order-lg-1">
                    <h2 class="fs-34 lh-129 mb-7">
                        New York Store
                    </h2>
                    <div class="row">
                        <div class="col-md-6 mb-7 mb-lg-9">
                            <h4 class="fs-20 font-weight-600 mb-3">Address</h4>
                            <p class="mb-2 mb-lg-4 mr-lg-8">3245 Abbot Kinney BLVD - PH Venice, CA 124</p>
                            <a href="#" class="btn btn-link bg-transparent text-secondary border-secondary border-bottom border-0 rounded-0 p-0 fs-16 font-weight-600">
                                Get Direction
                            </a>
                        </div>
                        <div class="col-md-6 mb-6 mb-lg-9">
                            <h4 class="fs-20 font-weight-600 mb-3">Store Hours</h4>
                            <ul class="list-unstyled mb-0">
                                <li><span class="d-inline-block w-115">Mon – Fri:</span> 08:30 – 20:00</li>
                                <li><span class="d-inline-block w-115">Sat & Sun:</span> 09:30 – 21:30</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-6 mb-md-0">
                            <h4 class="fs-20 font-weight-600 mb-3">Contact</h4>
                            <ul class="list-unstyled mb-0">
                                <li class="mb-1">Mobile:<span class="text-secondary"> 068 26589 996</span></li>
                                <li class="mb-1">Hotline:<span class="text-secondary"> 09:30 – 21:30</span></li>
                                <li>E-mail:<span> hello@grace.com</span></li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <h4 class="fs-20 font-weight-600 mb-5">Social media</h4>
                            <ul class="list-inline fs-18 mb-0">
                                <li class="list-inline-item mr-4 mr-lg-5">
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                </li>
                                <li class="list-inline-item mr-4 mr-lg-5">
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                </li>
                                <li class="list-inline-item mr-4 mr-lg-5">
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#"><i class="fab fa-youtube"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="offset-lg-1 col-lg-6 mb-8 mb-lg-0 order-1 order-lg-2">
                    <div class="hover-shine hover-zoom-in ml-lg-n9">
                        <img src="~/assets/images/store-02.jpg" alt="Sale Up To 40% Off" class="card-img">
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>