@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Urbanist,sans-serif;
    outline:  none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}
@mixin grid($val) {display: grid;
    grid-template-columns: repeat(auto-fit,minmax($val ,1fr));
    gap: 1.5rem;
    
}
html{
    font-size: 63%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top:5rem ;
}

.header{

    &.sticky{
      
        background-color: rgba(21, 23, 23, 0.77);
    }
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 2rem 9%;
    z-index: 100000;
    display: flex;
    align-items: center;  
    margin-left:auto;
    margin-right:auto;
    position: fixed;

   

    .logo{
        margin-right: auto;
        position: relative;
        right: 85px;
         
    }
    .navbar{
        #nav-close{
            font-size: 5rem;
            cursor: pointer;
            color: #000;
            display: none;

        }
        
     a{
        &.active::before{
            width: 100%;
        }
            &:hover::before{
                width: 100%;
            }
            &::before{
                content: '';
                position: absolute;
                background: white;
                width: 0;
                height: 2px;
                bottom: 0;
                left: 0;
                transition: 0.5s ease;
            }
            position: relative;
            margin-left: 3rem;
            font-size: 15px;
            color: white;
            font-weight: 400;
            font-style: normal;
            text-transform: uppercase;
            letter-spacing: .1em;
            text-decoration: none;
            margin: 0px 10px;
            font-family: Urbanist sans-serif;
        }
    }

    .icons {
position: relative;
left: 60px;
        i{
&.weight{
    font-weight: 100;
}
            font-size: 2.2rem;
            margin-left: 20px;
            cursor: pointer;
            color: white;
        }
    }
    #menu-btn{
        display: none;
    }
   



}
.search-form{
    position: fixed;
    top: 0;left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10000;
    transform: translateY(-110%);

    &.active{
        transform: translateY(0%);
        
    }
    #close-search{
        position: absolute;
        top: 8rem; right: 13.5rem;
        cursor: pointer;
        color: white;
        font-size: 6rem;
        &:hover{
            color:rgb(159, 34, 34);
        }

    }
    form{
        width: 70rem;
        margin: 0.2rem;
        border-bottom: .2rem solid white;
        display: flex; 
        align-items: center;
        input{
            width: 100%;
            font-size: 2rem;
            color: white;
            text-transform: none;
            background: none;
            padding-right:2rem ;

            &::placeholder{
                color: #aaa;
            }

        }
        label{
            font-size: 2.7rem;
            cursor: pointer;
            color: white;
            margin-bottom: 0.8rem;
            &:hover{
                color: black;
            }
        }
    }
}
.home{
    // background:rgba(238, 205, 173, 0.3);
    width: 130%;
.slider-navigation{
    z-index: 888;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(80px);
    margin-bottom: 12px;
    .nav-btn{
        width: 100%;
        width: 12px;
        height: 12px;
        background: #fff;
        border-radius: 50%;
        cursor: pointer;
        box-shadow:0 0 2px rgba(255, 255green, 255, 0.5) ;
        transition: 0.3s ease;

        &:not(:last-child){
            margin-right: 20px;
        }
        &:hover{
            transform: scale(1.2);
        }
        &.active{
            background:rgba(238, 205, 173, 0.3);
        }

    }


}









   .video{
    z-index: 000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    clip-path: circle(0% at 0 50%);
    &.active{
    clip-path: circle(150% at 0 50%);
    transition: 2.8s ease;
    transition-property: clip-path;

    }
   }


   color: white;
       padding: 100px 200px;
       position: relative;
       width: 100%;
       min-height: 100vh;
       display: flex;
       justify-content: center;
       flex-direction: column;
      
       .content{
           z-index: 888;
           color: white;
           width: 70%;
           margin-top: 50px;
           display: none;
           &.active{
               display: block;
           }
           h1{
               font-size: 72px;
       font-weight: 500;
       line-height: 83px;
       letter-spacing: 0.1rem;
       line-height: 75px;
       margin-bottom: 40px;
       width: 600px;
           }
           h6{
               font-size: 24px;
       text-transform: capitalize;
       letter-spacing: 0;
       margin-bottom: 28px!important;
           }
           .home-discover{
               text-decoration: underline;
             
              
               a{
                   text-decoration: none;
                   color: white;
                   
               }
           }
       }
   }
   @media (max-width:1200px){
       header{
           .navigation{
               display: none;
           }
       }
       .menu-btn{
         display: inline-block;
           font-size: 40px;
           background-position: center;
           width: 40px;
           height: 40px;
           cursor: pointer;
           transition: 0.3s ease;
   
       }
}


.product{
    .title{
        margin-top: 220px;
        position: relative;
        .glow{
            font-family: Water Brush;
            font-size: 180px    ;
            color: #cce3d7;
            z-index: -2;
            position: absolute;
            top: -200px;
            left: 320px;
        }
        
        .main-title{
            font-family: Harmattan;
            margin-left: 450px;
            margin-top: 70px;
            font-size: 45px;
            font-weight: 600;
            text-align: center;
            max-width: 700px;
        }
      
    }
}
.product-list{
    
   .container-fluid{

    .imagePart{
        .hover14{
            position: relative;
            h1{
                position: absolute;
                left: 140px;
                bottom: 220px;
                font-family: Lavishly Yours ;
                z-index: 1100;
                font-size: 60px;
                color: #fff;

            }
            span{
                font-family:Harmattan ;
                font-weight: 700;
                font-size: 60px;
                position: absolute;
                left: 140px;
                bottom: 150px;
                z-index: 1100;
                color: #fff;
            }

          
    .explore-btn{
        position: absolute;
        left: 140px;
        bottom: 100px;
        z-index: 1100;
background-color: #fff;
color: #000;
        font-size: 18px;
        padding: 10px;
        border-radius: 6px;
        &:hover{
            background-color:black;
color: white;

        }
    }
   }
    }

    .product-shop{
    
        display: flex; justify-content: space-between;
       .item{
        flex: 1 0 0%;
        position: relative;
        margin-bottom: 25px;
        .image-icons{
            opacity: 0;
                position: absolute;
                top: 0;right: 15px;
                z-index: -1;
                transition: opacity 0.7s ease-out;

            a{
                height: 5rem;
                width: 5rem;
                line-height:  5rem;
                text-align: center;
                font-size: 2rem;
                border-radius: 50%;
                background: #fff;
                color: #000;
                display: block;
                margin-top: 1rem;
                &:hover{
                    background: black;
                color: white; 
               
                }



            }

        }
        &:hover{
            box-shadow: 0 10px 12px -7px rgba(171 ,171,171,1);
        }
        .picture{
            
                .hover{
                    opacity: 0;
                    position: absolute;
                    top: 0;left: 8px;
                    z-index: -1;
                    transition: opacity 0.7s ease-out;

                }

                &:hover .hover{
                    opacity: 1;
                    z-index: 0;
                }
            &:hover .icon-hover{
                opacity: 1;
                z-index: 0;
            }
               
            }
            
            .about{
                text-align: center;
                .price{
                    font-size: 16px;
                    font-weight: 700;
                    color: black;
                    margin-top: 8px;
                }
                .name{
                    cursor: pointer;
                    margin-bottom: 5px;
                    span{


                        &:hover::before{
                       
                            width: 100%;
                          
                        }
                        &::before{
                            content: '';
                            position: absolute;
                            background:#4E7661 ;
                            width: 0;
                            height: 2px;
                            bottom: 0;
                            left: 0;
                            transition: 0.5s ease;
                        }
                        position: relative;
                        font-size: 15px;
                        line-height: 1.6;
                        font-weight: 500
                       
                      
                    }
                }


                }

                .raiting{
                    text-align: center;
                    color: #4E7661;
                    font-size: 14px;
                    margin-bottom: 20px;
                }



            }
        }
       }
    }


    .whyShopInGlowing{
        margin-top: 25px;
        .w-header{
            text-align: center;
            margin-top: 50px;
            margin-bottom: 50px;
            span{
                font-family: Harmattan;
                font-size: 58px;
                font-weight: 700;   
            }
        }
        .imageAndParag{
            .image-p{
                flex: 1 0 0;
                text-align: center;
            }
            .parag-p{
                text-align: center;
                h3{
                    font-size: 30px;
                    font-family: Harmattan;
                    font-weight: 700;
                    // margin: 10px;
                }
                p{
                    font-size: 18px;
                    color: #7E7E7E;
                    font-family: Harmattan;
                    font-weight: 400;
                    padding: 0 35px;
                }

            }
        }
    }
   

    .countdown{
        margin-top:65px;
        background-color:#F2F1F2;
        display: flex;
.col-lg-6{
    .count-image-p{
        position: relative;
        .save-discount{
            position: absolute;
            bottom: 117px;
            right: 150px;
            padding: 20px 30px;
            border-radius: 50%;
            background-color: #4E7661;
            span{
                color: white;
                font-size: 25px;
               
            }

        }
    }
}



        .title{
            margin-top: 150px;
            display: flex;
            span{
                font-size: 50px;
                color: black;
                text-transform: uppercase;
                font-weight: 600;
                letter-spacing: .1em;
                margin-bottom: 21px;
            }
            .discount{
                margin-left: 20px;
                span{
                    color: #fff;
                    border-radius: 10px;
                    background-color: #4E7661;

                padding: 5px;
                }
            }

        }
        .about{
            h1{
                font-size: 33px;
                margin-top: 0!important;
                font-weight: 600;
            }
            p{
                margin-top: 20px;
                color: #7E7E7E;
                font-size: 18px;
                max-width: 450px;
            }

        }

            #count{
                ul{
                    margin-left: -40px;
                    li{
                        display: inline-block;
                        font-size: 2.6rem;
                        list-style-type: none;
                        padding: 1em;
                        text-transform: uppercase;
                        color: #4E7661;
                        font-weight: 800;
                    } 
     
                    span{
                        display: block;
                        font-size: 4.5rem;
     
                    }
                }
             
            }
            .button{
            button{
                font-size: 1.7rem;
                line-height: 2.75rem;
                padding: 15px 30px;
                border-radius: 10px;
                background-color: #4E7661;
                
                &:hover{
                    background-color: black;
                }
            }
            }
        }

        .elementor{
            .elemantor-about{
                margin-top: 50px;
                position: relative;
                    .title{
                     
                        position: absolute;
                        left: 75px;
                        bottom: 70px;
                        font-family: Harmattan;
                        font-weight: 700;
                        z-index: 1100;
                        font-size: 45px;
                        color: #fff;
                        }
                        a{
                            position: absolute;
                            left: 147px;
                            bottom: 50px;
                            font-family: Harmattan;
                            font-weight: 400;
                            z-index: 1100;
                            font-size: 20px;
                            color: #fff;
                         text-decoration: none;
                            
                        }
                        i{
                            position: absolute;
                            left: 243px;
                            bottom: 47px;
                            font-family: Harmattan;
                            font-weight: 400;
                            z-index: 1100;
                            font-size: 20px;
                            color: #fff;
                         text-decoration: none;
                        }
                        
                      
                    }
                
            }


            .footer-area{

                .footer-wave-box{
                    position:absolute;
                    left: 0;
                    top: 0;
                    right: 0;
                    height: 70px;
                    overflow: hidden;
                    // background-color: #4E7661;
                  
                    .footer-wave{
                        background-image: url(../images/footer-shape.png);
                        position: absolute;
                        top: 0px;left: 0;
                        background-size: 77%;
                        width: 200%;
                        height: 100%;
                        background-position: bottom;
                        background-repeat: repeat-x;

                        

                       

                    }
                    .footer-animation{
                        -moz-animation: footer_wave 5s linear infinite;
                        -o-animation: footer_wave 5s linear infinite;
                        -webkit-animation: footer_wave 5s linear infinite;
                        left:auto;
                        right:0;
                    }
                   
                    @-moz-keyframes footer_wave{
                      0%{
                          -moz-transform:translateX(0%);
                      }
                      50%{
                        -moz-transform:translateX(25%);
                      }
                      100%{
                        -moz-transform:translateX(50%);
                      }
                    }
                    
                    @-o-keyframes footer_wave{
                      0%{
                          -o-transform:translateX(0%);
                      }
                      50%{
                        -o-transform:translateX(25%);
                      }
                      100%{
                        -o-transform:translateX(50%);
                      }
                    }
                    
                    @-webkit-keyframes footer_wave{
                      0%{
                          -webkit-transform:translateX(0%);
                      }
                      50%{
                        -webkit-transform:translateX(25%);
                      }
                      100%{
                        -webkit-transform:translateX(50%);
                      }
                    }
                    
                  


                }


                position: relative;
                
                background: #BBD2C5;  /* fallback for old browsers */
                background: -webkit-linear-gradient(to right, #536976, #BBD2C5);  /* Chrome 10-25, Safari 5.1-6 */
                background: linear-gradient(to right, #536976, #BBD2C5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                

                margin-top: 100px;
                padding:100px 0 30px;
                .main{
                    color: #fff;
                    width: 1200px;
                    margin: 0 auto;
                    .footer{
                        display: flex;
                        justify-content: space-around;
                        flex-wrap: wrap;
                        flex-direction: row;
                        .single-footer{
                            width: 250px;
                            p{
                                font-size: 16px;
                            }


                            ul{
                                color: #fff;
                                padding-left: 0px;

                                li{
                                    a{
                                       
                                        color: #fff;
                                        text-transform: capitalize;
                                        text-decoration: navajowhite;
                                        font-size: 15px;

                                        i{
                                            color: #fff;
                                            position: absolute;
                                            left: 0;
                                            top: 2px;
                                        }
                                        position: relative;
                                        padding-left: 22px;
                                    }
                                    list-style: none;
                                    margin-bottom: 12px;
                                   

                                }
                            }







                            &:first-child{
                                width: 400px;
                            }
                            h4{
                                text-transform: capitalize;
                                font-size: 25px;
                                font-family: Harmattan;
                                font-weight: 900;
                                margin-bottom: 20px;
                                &.main{
                                    font-size: 37px;
                                    max-width: 400px;
                                }
                               
                            
                            }
                            .footer-social {
                                margin-top: 20px;
                                a{
                                    color: #fff;
                                    border: 1px solid #fff;
                                    width: 40px;
                                    height: 40px;
                                    display: inline-block;
                                    text-align: center;
                                    line-height: 40px;
                                    border-radius: 50%;
                                    margin-right: 10px;
                                    i{
                                        font-size: 16px;
                                    }
     
                                 }
                            }

                        }
                    }
                    .copy{
                        text-align: center;
                        text-transform: capitalize;
                        margin-top: 50px;
                        font-size: 16px;
                    }
                }
            } 

        



 

    
  
    


        

    

































            @media only screen and (max-width:600px){
                .main{
                  width:320px;
                }
                .footer-wave-box {
                  display: none;
                }
                .single-footer:first-child, .single-footer {
                  width: 100%;
                  margin-bottom:30px;
                }
                
              }






        @media(max-width:1450px){
            .home{
       
                .video{
                    width: 120%;
                }
             }
             .container-fluid{
                 margin-left: 150px;
                 .imagePart{

                    .hover14{
                        .img{
                            width:550px ;
                        }
                    }
                 }
             }
        }



@media(max-width:1300px){
    .product{
        .title{
            .glow{
                font-size: 130px;
            }
            .main-title{
                font-size: 25px;
                margin-left: 346px;
                margin-top: 60px;
            }
        }
    }
    .home{
       
       .video{
           width: 120%;
       }
    }
}


@media(max-width:1200px){
    .header{
        .logo{
            margin-left: 20px;
       
        }
    }
}
@media (max-width:1096px) {
    html{
        font-size: 55%;
    }

    .product{
        .title{
            .glow{
                font-size: 80px;
               
            }
            .main-title{
              
                display: none;
              
               
               
            }
        }
    }




   .header{
   
    .icons{
        #menu-btn{
            display: inline-block;
        }
        #search-btn{
            display: inline-block;
        }
        .respons{
                display: none;
        }
        }

        .navbar{
            position: fixed;
            top: 0;left: -110%;
            background: white;
            z-index: 10000;
            width: 35rem;
            height: 100%;
            
            display: flex;
            flex-flow: column;
            align-items: center;
            justify-content: center;

            &.active{
                left: 0;
                box-shadow:0 0 0 100vw rgba(0,0,0,.8);
            }
           a{
               color: black;
               margin: 1rem 0;
               font-size: 3rem;

           }
           #nav-close{
               display: block;
               position: absolute;
               top: 1rem ;right: 2rem;
           }
         
    
        }
   }
    
}



@media (max-width:800px) {
    html{
        font-size: 55%;
    }


    .product{
        .title{
            .glow{
                font-size: 65px;
               
            }
            .main-title{
              
                display: none;
              
               
               
            }
        }
    }


   .header{
 
    .icons{
        position: relative;
    left: 40px;
        #menu-btn{
            display: inline-block;
           
        }
        #search-btn{
            display: none;
        }
        .respons{
                display: none;
        }
        }

        .navbar{
            position: fixed;
            top: 0;left: -110%;
            background: white;
            z-index: 10000;
            width: 35rem;
            height: 100%;
            
            display: flex;
            flex-flow: column;
            align-items: center;
            justify-content: center;

            &.active{
                left: 0;
                box-shadow:0 0 0 100vw rgba(0,0,0,.8);
            }
           a{
               color: black;
               margin: 1rem 0;
               font-size: 3rem;

           }
           #nav-close{
               display: block;
               position: absolute;
               top: 1rem ;right: 2rem;
           }
         
    
        }
   }
    
}
@media (max-width:780px) {
    html{
        font-size: 55%;
    }
   .header{
 padding:1rem 10%;
    .icons{
        position: relative;
    left: 40px;
        #menu-btn{
            display: inline-block;
           
        }
        #search-btn{
            display: none;
        }
        .respons{
                display: none;
        }
        }

        .navbar{
            position: fixed;
            top: 0;left: -110%;
            background: white;
            z-index: 10000;
            width: 35rem;
            height: 100%;
            
            display: flex;
            flex-flow: column;
            align-items: center;
            justify-content: center;

            &.active{
                left: 0;
                box-shadow:0 0 0 100vw rgba(0,0,0,.8);
            }
           a{
               color: black;
               margin: 1rem 0;
               font-size: 3rem;

           }
           #nav-close{
               display: block;
               position: absolute;
               top: 1rem ;right: 2rem;
           }
         
    
        }
   }
   .home{
       .video{
           width: 150%;
       }
    .content{
        z-index: 888;
        color: white;
        width: 70%;
        margin-top: 50px;
        display: none;
        &.active{
            display: block;
        }
        h1{
            margin-left: -50px;
            font-size: 36px;
    font-weight: 500;
    line-height: 83px;
    letter-spacing: 0.1rem;
    line-height: 75px;
    margin-bottom: 40px;
    width: 600px;
        }
        h6{
            margin-left: -50px;
            font-size: 18px;
    text-transform: capitalize;
    letter-spacing: 0;
    margin-bottom: 2px!important;
        }
        .home-discover{
            text-decoration: underline;
            font-size: 20px;
          margin-left: -45px;
           
            a{
                text-decoration: none;
                color: white;
                
            }
        }
    }
   }
    
}

@media(max-width:665px){
    .product{
        .title{
            .glow{
                font-size: 45px;
                color: #4E7661;
               
            }
            .main-title{
              
                display: none;
              
               
               
            }
        }
    }
}

@media (max-width:570px) {
    html{
        font-size: 45%;
    }
   .header{
 padding:1rem 10%;
    .icons{
        position: relative;
    left: 40px;
        #menu-btn{
            display: inline-block;
           
        }
        #search-btn{
            display: none;
        }
        .respons{
                display: none;
        }
        }

        .navbar{
            position: fixed;
            top: 0;left: -110%;
            background: white;
            z-index: 10000;
            width: 35rem;
            height: 100%;
            
            display: flex;
            flex-flow: column;
            align-items: center;
            justify-content: center;

            &.active{
                left: 0;
                box-shadow:0 0 0 100vw rgba(0,0,0,.8);
            }
           a{
               color: black;
               margin: 1rem 0;
               font-size: 3rem;

           }
           #nav-close{
               display: block;
               position: absolute;
               top: 1rem ;right: 2rem;
           }
         
    
        }
   }
   .home{
  
       .video{
        width: 150%;

       }
    .content{
        z-index: 888;
        color: white;
        width: 70%;
        margin-top: 50px;
        display: none;
        &.active{
            display: block;
        }
        h1{
            margin-left: -80px;
            font-size: 24px;
    font-weight: 500;
    line-height: 83px;
    letter-spacing: 0.1rem;
    line-height: 75px;
    margin-bottom: 40px;
    width: 600px;
        }
        h6{
            margin-left: -80px;
            font-size: 16px;
    text-transform: capitalize;
    letter-spacing: 0;
    margin-bottom: 2px!important;
        }
        .home-discover{
            text-decoration: underline;
            font-size: 18px;
          margin-left: -80px;
           
            a{
                text-decoration: none;
                color: white;
                
            }
        }
    }
   }
    
}

@media (max-width:565px) {
    html{
        font-size: 35%;
    }
    .product{
        
   .title{
    .glow{
        font-size: 35px;
        color: #4E7661;
       
    }
    .main-title{
      
        display: none;
      
       
       
    }
}
    }
   .header{
 padding:1rem 10%;
    .icons{
        position: relative;
    left: 40px;
        #menu-btn{
            margin-top: 20px;
            display: inline-block;
           
        }
        #search-btn{
            display: none;
        }
        .respons{
                display: none;
        }
        }

        .navbar{
            position: fixed;
            top: 0;left: -110%;
            background: white;
            z-index: 10000;
            width: 35rem;
            height: 100%;
            
            display: flex;
            flex-flow: column;
            align-items: center;
            justify-content: center;

            &.active{
                left: 0;
                box-shadow:0 0 0 100vw rgba(0,0,0,.8);
            }
           a{
               color: black;
               margin: 1rem 0;
               font-size: 3rem;

           }
           #nav-close{
               display: block;
               position: absolute;
               top: 1rem ;right: 2rem;
           }
         
    
        }
   }
   .home{

    
    .content{
        z-index: 888;
        color: white;
        width: 70%;
        margin-top: 50px;
        display: none;
        &.active{
            display: block;
        }
        h1{
            margin-left: -120px;
            font-size: 20px;
    font-weight: 500;
    line-height: 83px;
    letter-spacing: 0.1rem;
    line-height: 75px;
    margin-bottom: 40px;
    width: 600px;
        }
        h6{
            margin-left: -120px;
            font-size: 14px;
    text-transform: capitalize;
    letter-spacing: 0;
    margin-bottom: 2px!important;
        }
        .home-discover{
            text-decoration: underline;
            font-size: 14px;
          margin-left: -120px;
           
            a{
                text-decoration: none;
                color: white;
                
            }
        }
    }
   }

    
}
@media(max-width:500px){
    .product{
        
        .title{
         .glow{
             font-size: 57px;
            margin-left: -250px;
             color: #4E7661;
            
         }
         .main-title{
           
             display: none;
           
            
            
         }
     }
         }
}
@media (max-width:470px) {

    .home{
        .video{
            width: 190%;
        }
        .content{
            h1{
                font-size: 35px;
            }
            h6{
                font-size: 20px;
            }
            .home-discover{
                a{
                    font-size: 18px;
                }
            }
        }
    }
    .header{
        #menu-btn{
            font-size: 30px;
         
        }
        
    }
    
}



















// @media(max-width:768px){
//     .header{
        
//         #menu-btn{
//             display: inline-block;
//         }
//         .navbar{
//             position: fixed;
//             top: 0;left: -110%;
//             background: white;
//             z-index: 10000;
//             width: 35rem;
//             height: 100%;
            
//             display: flex;
//             flex-flow: column;
//             align-items: center;
//             justify-content: center;

//             &.active{
//                 left: 0;
//                 box-shadow:0 0 0 100vw rgba(0,0,0,.8);
//             }
//            a{
//                color: black;
//                margin: 1rem 0;
//                font-size: 3rem;

//            }
//            #nav-close{
//                display: block;
//                position: absolute;
//                top: 1rem ;right: 2rem;
//            }
         
    
//         }

//         .icons{
//         .respons{
//                 display: none;
//         }
//         }
//     }
// }
















   
// .home{
//     color: white;
//     padding: 100px 200px;
//     position: relative;
//     width: 100%;
//     min-height: 100vh;
//     display: flex;
//     justify-content: center;
//     flex-direction: column;
//     background-color: rgb(35, 159, 216);
//     .content{
//         z-index: 888;
//         color: white;
//         width: 70%;
//         margin-top: 50px;
//         h1{
//             font-size: 72px;
//     font-weight: 500;
//     line-height: 83px;
//     letter-spacing: 0.1rem;
//     line-height: 75px;
//     margin-bottom: 40px;
//     width: 600px;
//         }
//         h6{
//             font-size: 24px;
//     text-transform: capitalize;
//     letter-spacing: 0;
//     margin-bottom: 28px!important;
//         }
//         .home-discover{
//             text-decoration: underline;
          
           
//             a{
//                 text-decoration: none;
//                 color: white;
                
//             }
//         }
//     }
// }
// @media (max-width:1200px){
//     header{
//         .navigation{
//             display: none;
//         }
//     }
//     .menu-btn{
//       display: inline-block;
//         font-size: 40px;
//         background-position: center;
//         width: 40px;
//         height: 40px;
//         cursor: pointer;
//         transition: 0.3s ease;

//     }
// }
