@model VmResetPassword
@{
    ViewData["Title"] = "ResetPassword";
}

<section class="py-2 bg-gray-2" data-animated-id="1">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-site py-0 d-flex justify-content-center">
                <li class="breadcrumb-item">
                    <a class="text-decoration-none text-body" asp-action="Index" asp-controller="Home">Home</a>
                </li>
                <li class="breadcrumb-item active pl-0 d-flex align-items-center" aria-current="page">
                    Reset Password
                </li>
            </ol>
        </nav>
    </div>
</section>


<section class="register">
    <div class="container">
        <div class="row login-main">
            <div class="col-md-6" style="margin-top:70px">
                <h1>Reset Password</h1>
                <form asp-controller="account" asp-action="resetpassword" method="post">
                    <div class="row g-0 pb-1 m-0 text text-danger" asp-validation-summary="All"></div>
                    <div class="row g-0">
                        <div class="col-12">
                            <div class="form-group pb-1">
                                <label asp-for="Password" for="password">Password&nbsp;<span class="required">*</span></label>
                                <input asp-for="Password" class="form-control" id="password" type="password" required name="password">
                                <span asp-validation-for="Password"></span>

                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group pb-1">
                                <label asp-for="ConfirmPassword" for="confirmPassword">Confirm Password&nbsp;<span class="required">*</span></label>
                                <input asp-for="ConfirmPassword" class="form-control" id="confirmPassword" type="password" required name="confirmPassword">
                                <span asp-validation-for="ConfirmPassword"></span>
                                <input type="hidden" asp-for="Email" />
                                <input type="hidden" asp-for="Token" />

                            </div>
                        </div>
                        

                    </div>
                    <div class="row g-0">
                        <div class="col-6 pb-3">
                            <div class="form-group">
                                <button type="submit" class="btn btn-block btn-outline-primary btn-lg font-weight-medium auth-form-btn">Continue</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

