
@model News
@{
    ViewData["Title"] = "Create";
}

@*@section Scripts{
        <partial name="_PartialView" />
        <script src="https://cdn.ckeditor.com/ckeditor5/30.0.0/classic/ckeditor.js"></script>
        <script>
            ClassicEditor
                .create(document.querySelector('#Description'))
                .catch(error => {
                    console.error(error);
                });
        </script>
    }*@
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
          
            <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Create new News</h4>

                        <form method="post" asp-controller="news" asp-action="create" enctype="multipart/form-data" class="forms-sample">


                            <div class="form-group">
                                <label for="exampleInputUsername1">Title:</label>
                                <input asp-for="Title" class="form-control" id="exampleInputUsername1" placeholder="Title">
                                <span asp-validation-for="Title"></span>
                            </div>

                            <div class="form-group">
                                <label for="exampleInputUsername1">Image</label>
                                <input accept="image/*" asp-for="ImageFile" class="form-control" id="exampleInputUsername1" placeholder="Image">
                                <span asp-validation-for="ImageFile"></span>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputUsername1">ButtonTitle:</label>
                                <input asp-for="ButtonTitle" class="form-control" id="exampleInputUsername1" placeholder="Title">
                                <span asp-validation-for="ButtonTitle"></span>
                            </div>




                            <button type="submit" class="btn btn-primary me-2">Submit</button>
                            <button class="btn btn-light">Cancel</button>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
