@model Blog
@{
    ViewData["Title"] = "Detail";
}

<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h1 class="card-title">@Model.Title</h1>

                        <p>
                            @Model.Author /  @Model.Date.Date.ToString("MMMM dd,yyyy")
                        </p>


                        <img style="width:500px ;margin-top:40px" src="~/assets/images/@Model.DetailImage" />
                        <p style="margin-top: 25px ">
                            @Html.Raw(Model.Description)
                        </p>




                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


